@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
    --header-height: 3rem;

    /* Colors */
    --first-color: #3E0E12;
    --first-color-dark: #2F0A0D;
    --text-color: #524748;
    --first-color-light: #7B6F71;
    --first-color-lighten: #FBF9F9;

    /* Typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font-Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* Z-Index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 760px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h2,
h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Classes */
.section {
    padding: 4rem 0 2rem 0;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

/* Layout */
.ys-container {
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.ys-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
    box-shadow: 0 2px 4px rgba(255, 255, 255, .2);
}

/* Nav */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 760px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
    }
}

.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link {
    color: var(--first-color-lighten);
}

.nav__link:hover {
    color: var(--first-color-light);
}

.nav__logo,
.nav__toggle {
    color: var(--first-color-lighten);
    z-index: var(--z-fixed);
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show Menu */
.show-menu {
    top: var(--header-height);
}

/* Active Menu */
.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}

/* Change background header */
.scroll-header {
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
    color: var(--first-color-dark);
}

.nav__link:hover {
    color: var(--first-color-light);
}

.scroll-header .nav__menu {
    background-color: var(--first-color-lighten);
}

/* SCROLL TOP */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: rgba(123, 111, 113, .7);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background: rgba(123, 111, 113, 1);
}

.scrolltop__icon {
    font-size: 2rem;
    color: var(--first-color-lighten);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/* HOME */
.home {
    background-color: #000;
    overflow: hidden;
}

.home__container {
    position: relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
}

.home__data {
    border-left: 4px solid var(--first-color-lighten);
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
}

.home__name {
    font-size: var(--biggest-font-size);
}

.home__greeting,
.home__profession {
    display: block;
    font-weight: var(--font-bold);
}

.home__greeting {
    font-size: var(--smaller-font-size);
}

.home__profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-3);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.home__img img {
    width: 300px;
    height: auto;
}

/* BUTTONS */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .75rem 1rem;
    border-radius: .25rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-dark);
}

.button-light {
    background-color: var(--first-color-light);
}

/* ABOUT */
.about__data {
    text-align: center;
}

.about__description {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
}

.about__number {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    display: block;
}

/* QUALIFICATION */
.qualification__container {
    row-gap: 2.5rem;
}

.qualification__title {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
    display: flex;
    align-items: center;
}

.qualification__title-icon {
    font-size: var(--h1-font-size);
    margin-right: var(--mb-1);
}

.qualification__box {
    padding-bottom: var(--mb-2);
    border-bottom: 1px solid #CCC;
}

.qualification__area {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.qualification__icon,
.qualification__work {
    font-size: var(--smaller-font-size);
    color: var(--first-color-light);
}

.qualification__work {
    display: block;
}

/* PORTFOLIO */
.portfolio__nav {
    text-align: center;
    margin-bottom: var(--mb-3);
}

.portfolio__item {
    margin: var(--mb-2);
    cursor: pointer;
}

.portfolio__item.mixitup-control-active {
    color: var(--first-color-dark);
    font-weight: var(--font-semi-bold);
}

.portfolio__content {
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.portfolio__img {
    width: 100%;
    transition: .4s;
}

.portfolio__data {
    padding: 1.5rem;
}

.portfolio__subtitle {
    font-size: var(--small-font-size);
    color: var(--first-color-light);
}

.portfolio__title {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin: var(--mb-2) 0 var(--mb-1);
}

.portfolio__stack {
    font-size: var(--normal-font-size);
    color: var(--first-color-light);
}

.portfolio__content:hover {
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.portfolio__content:hover .portfolio__img {
    transform: scale(1.02);
}

/* CONTACT */
.contact__container {
    row-gap: 2.5rem;
}

.contact__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact__box {
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.contact__box a{
    color: var(--text-color);
}

/* FOOTER */
.footer {
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
    padding: 3rem 0;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-semi-bold);
}

.footer__description {
    margin-bottom: var(--mb-3);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    margin-top: var(--mb-3);
    color: var(--first-color-light);
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    .home__img img {
        width: 330px;
    }

    .qualification__container,
    .services__container,
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 760px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 6rem;
    }

    .section-title {
        margin-bottom: var(--mb-5);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .home__container {
        height: 100vh;
        grid-template-rows: max-content .5fr;
        align-content: flex-end;
    }

    .home__greeting {
        font-size: 1.25rem;
    }

    .home__profession {
        font-size: 2rem;
    }

    .home__img img {
        width: 440px;
    }

    .portfolio__container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width: 1024px) {
    .ys-container {
        margin-left: auto;
        margin-right: auto;
    }

    .qualification__container {
        column-gap: 6rem;
    }
}